.spectrum-container {
    width: 100%;
}

.player_div {
    width: 100%;
}

.playlist_tiles {
    display: table;
    margin: 0 auto;
}

.wrapper {
    max-width: 620px;
    height: auto;
}

.box {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    background: #FCC;
    z-index: 0;
    margin: 2px 2px 2px -2px;
    transition: all .15s ease-in-out;
}

.box:hover {
    background: #9CC;
    z-index: 100;
    transform: scale(1.2,1.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}

.horizontal_box {
    display: inline-flexbox;
    overflow-x: scroll;
    overflow-y: auto;
    border: 3px solid #21a1d2;
    background: #777777;
    border-radius: 2px;
    max-height: 180px;
}

.vid-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px; 
	height: 0; 
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vid-list-container {
	width: 92%;
	overflow: hidden;
	margin-top: 20px;
	margin-left:4%;
	padding-bottom: 20px;
}

.vid-list {
	width: 1344px;
	position: relative;
	top:0;
	left: 0;
}
.vid-item {
	display: block;
	width: 140px;
	height: 140px;
	float: left;
	margin: 0;
	padding: 10px;
    border: 1px solid dimgrey;
    border-radius: 10px;
}

.thumb {
	overflow:hidden;
	height: 84px;
}

.thumb img {
	width: 100%;
	position: relative;
	top: -13px;
}

.vid-item .desc {
	color: #21A1D2;
	font-size: 15px;
	margin-top:5px;
}

.arrows {
	position:relative;
	width: 100%;
}

.arrow-left {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	left: -25px;
	top: -130px;
	z-index: 99;
	cursor: pointer;
}

.arrow-right {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	right: -25px;
	top: -130px;
	z-index:100;
	cursor: pointer;
}

@media (max-width: 624px) {
	.arrows {
		position:relative;
		margin: 0 auto;
		width:96px;
	}
	.arrow-left {
		left: 0;
		top: -20px;
	}

	.arrow-right {
		right: 0;
		top: -20px;
	}
}