html {
    margin: 0;
    height: 100%;
}

body {
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
}

/*Dropdown expand on hover trick*/
.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.dropdown.dropdown-menu {
    margin-top: 0;
}

.dropdown a:hover {
    text-decoration: none;
    color: #08c;
}

.dropdown #navbar_profile_image {
    margin-right: 5px;
}

.dropdown a.profile-image {
    padding-top: 4px;
    padding-bottom: 4px;
}

#register_container {
    color: #fffff0;
}

    #register_container legend {
        color: #cccccc;
    }

    #register_container .validation-summary-errors {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 1px;
        margin-bottom: 10px;
        margin-top: 5px;
    }


#manage_account_container {
    color: #f5f5f5;
}

    #manage_account_container legend {
        color: #fffff0;
    }

    #manage_account_container h1 h2 {
        color: #fffff0;
    }

    #manage_account_container .field-validation-error {
        color: #F5CECE;
    }

#login_container {
    color: #f5f5f5;
}

    #login_container h2 {
        color: #fffff0;
    }

    #login_container .field-validation-error {
        color: #F5CECE;
    }

#custom_footer {
    color: #fff;
}

#navbar_title {
    font-size: 2em;
    margin-top: 3px;
}

#navbar_search_form {
    margin-left: 100%;
}

@media (max-width: 768px) {
    #navbar_search_form {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

#navbar_search_container {
    display: inline-flex;
    padding-top: 3px;
}

#main_nav_bar {
    height: 45px;
}

.navbar_btn {
    margin-top: 8px;
}

#navbar_btn_container {
    display: inline-flex;
}

    #navbar_btn_container > * {
        margin-right: 7px;
    }

#navbar_dropdown {
    margin-top: 8px;
}

#login_btn {
    margin-top: 8px;
}

#register_btn {
    margin-top: 8px;
}

.spectrum-container {
    width: 100%;
}

.player_div {
    margin-top: 4%;
    width: 100%;
}

#playlist_box {
    transition: all .15s ease-in-out;
    display: inline-flexbox;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 3px solid #055B80;
    background: #777777;
    border-radius: 3px;
    max-height: 170px;
    margin-top: -2px;
}

.horizontal_box {
    display: table-row;
}

#playlist_box.over {
    background-color: antiquewhite;
    border-radius: 3px;
    border: 2px dashed #777777;
}

#full_width_player {
    border-top: 1px solid #055B80;
    border-left: 1px solid #055B80;
    border-right: 1px solid #055B80;
    border-radius: 3px;
}

.playlist_tiles {
    display: table;
    margin: 3% auto 10px 5%;
}

.wrapper {
    max-width: 100%;
    height: auto;
}

.box {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    background: #FCC;
    z-index: 0;
    margin: 2px 2px 2px 2px;
    transition: all .15s ease-in-out;
}

    .box:hover {
        background: #9CC;
        z-index: 100;
        transform: scale(1.2,1.2);
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    }

.vid-container {
    position: relative;
    padding-bottom: 52%;
    padding-top: 30px;
    height: 0;
}

    .vid-container iframe,
    .vid-container object,
    .vid-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.vid-list-container {
    width: 92%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 4%;
    padding-bottom: 20px;
}

.vid-list {
    width: 1344px;
    position: relative;
    top: 0;
    left: 0;
}

.vid-item {
    display: table-cell;
    width: 140px;
    height: 140px;
    float: left;
    margin: 0;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2px;
    margin-left: 2px;
    border: 1px solid dimgrey;
    border-radius: 10px;
    cursor: pointer;
}

.vid-item:hover {
    background-color: #fff;
}

.thumb {
    overflow: hidden;
    height: 84px;
}

    .thumb img {
        width: 100%;
        position: relative;
        top: -13px;
    }

.vid-item .desc {
    color: #21A1D2;
    font-size: 15px;
    margin-top: 5px;
}

.arrows {
    position: relative;
    width: 100%;
}

.arrow-left {
    color: #fff;
    position: absolute;
    background: #777;
    padding: 15px;
    left: -25px;
    top: -130px;
    z-index: 99;
    cursor: pointer;
}

.arrow-right {
    color: #fff;
    position: absolute;
    background: #777;
    padding: 15px;
    right: -25px;
    top: -130px;
    z-index: 100;
    cursor: pointer;
}

@media (max-width: 624px) {
    .arrows {
        position: relative;
        margin: 0 auto;
        width: 96px;
    }

    .arrow-left {
        left: 0;
        top: -20px;
    }

    .arrow-right {
        right: 0;
        top: -20px;
    }
}

/* Draggable stuff here 
    ***************************************************************/
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.box {
    height: 150px;
    width: 150px;
    float: left;
    border: 2px solid #666666;
    background-color: #ccc;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
}

.box img {
    width: 100%;
    height: 100%;
    -ms-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.9;
}

.box p {
    z-index: 100;
    position: absolute;
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    left: 15%;
    right: 15%;
    top: 10%;
    bottom: 5%;
    overflow: hidden;
}

.box header {
        color: #fff;
        text-shadow: #000 0 1px;
        box-shadow: 5px;
        padding: 5px;
        background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
        background: -webkit-gradient(linear, left top, right top, color-stop(0, rgb(0,0,0)), color-stop(0.50, rgb(79,79,79)), color-stop(1, rgb(21,21,21)));
        background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
        background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
        border-bottom: 1px solid #ddd;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -ms-border-radius-topleft: 10px;
        border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -ms-border-top-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        border-top-right-radius: 10px;
    }

    .box.over {
        border: 2px dashed #000;
    }
