<div id="grid_toolbar_container">
    <div class="grid_toolbar">
        <ul class="container-fluid primary_actions pull-left">
            <li>
                <div class="btn-group">
                    <a class="btn play_btn" href="#playall">
                        <i class="icon-play"></i>
                        Play All
                    </a>
                </div>
                @* TODO: add Grooveshark style dropdown here *@
            </li>
            <li>
                <div class="btn-group">
                    <a class="btn add_btn" href="#addall">
                        <i class="icon-plus"></i>
                        Add All
                    </a>
                </div>
                @* TODO: add Grooveshark style dropdown here *@
            </li>
        </ul>
        <ul class="container-fluid secondary_actions pull-right">
            <li>Sorting Options DropDown</li>
            <li>Custom Filter SearchBox</li>
        </ul>
    </div>
</div>
