@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/SoundManager/soundmanager2.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/SoundManagerSetup.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/SoundManager/BarUI/bar-ui.js")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/Helpers/HorizontalPlaylistHelper.js")"></script>
}
<h2>Youtube Track Streamer</h2>
<hr />
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            Blabla
        </div>
    </section>
}

<div class="spectrum-container">
    
    <div class="playlist_tiles">
        <ul class="wrapper">
            <li class="box">1</li>
            <li class="box">2</li>
            <li class="box">3</li>
            <li class="box">4</li>
            <li class="box">5</li>
            <li class="box">6</li>
            <li class="box">7</li>
            <li class="box">8</li>
            <li class="box">9</li>
        </ul>
    </div>

    @{
        Html.RenderPartial("~/Views/Player/_FullWidthPlayer.cshtml");
    }

    <div class="playlist_box">
        @{
            Html.RenderPartial("~/Views/Player/_HorizontalPlaylist.cshtml");
        }
    </div>

</div>
