<div id="login_container">
    <section id="loginForm">
        <h2>Use a local account to log in</h2>
        @Html.Partial("~/Views/Home/_Login.cshtml")
    </section>

    <section class="social" id="socialLoginForm">
        <h2>Alternately, you can use another service to log in</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
