@model List<OnlinePlayerSample.Models.TrackViewModel>

<div class="player_div">
    <div id="full_width_player" class="sm2-bar-ui full-width dark-text textured">
        <div class="bd sm2-main-controls">
            <div class="sm2-inline-texture"></div>
            <div class="sm2-inline-gradient"></div>

            <div class="sm2-inline-element sm2-button-element">

                <div class="sm2-button-bd">
                    <a href="#play" class="sm2-inline-button play-pause">Play / Pause</a>
                </div>

            </div>

            <div class="sm2-inline-element sm2-inline-status">

                <div class="sm2-playlist">
                    <div class="sm2-playlist-target">
                        <ul class="sm2-playlist-bd">
                            <li><b>Some Artist</b> - Some Song<span class="label">Explicit</span></li>
                        </ul>
                    </div>
                </div>

                <div class="sm2-progress">
                    <div class="sm2-row">
                        <div class="sm2-inline-time">0:00</div>
                        <div class="sm2-progress-bd">
                            <div class="sm2-progress-track">
                                <div class="sm2-progress-bar"></div>
                                <div class="sm2-progress-ball">
                                    <div class="icon-overlay"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sm2-inline-duration">0:00</div>
                    </div>
                </div>

            </div>

            <div class="sm2-inline-element sm2-button-element sm2-volume">
                <div class="sm2-button-bd">
                    <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
                    <a href="#volume" class="sm2-inline-button sm2-volume-control">Volume</a>
                </div>
            </div>

            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; Previous</a>
                </div>
            </div>

            <div class="sm2-inline-element sm2-button-element">
                <div class="sm2-button-bd">
                    <a href="#next" title="Next" class="sm2-inline-button next">&gt; Next</a>
                </div>
            </div>

            <div class="sm2-inline-element sm2-button-element sm2-menu">
                <div class="sm2-button-bd">
                    <a href="#menu" class="sm2-inline-button menu">menu</a>
                </div>
            </div>

        </div>

        <div class="bd sm2-playlist-drawer sm2-element">

            <div class="sm2-inline-texture">
                <div class="sm2-box-shadow"></div>
            </div>

            <div class="sm2-playlist-wrapper">
                <ul class="sm2-playlist-bd">
                    @foreach (var track in Model)
                    {
                        <li><a href="@track.TrackStreamUrl"><b>@track.TrackName</b>
                                
                            @if (track.TrackDescription.Contains("explicit"))
                            {
                                <span class="label">Explicit</span>
                            }

                        </a></li>                        
                    }
                </ul>
            </div>
            <div class="sm2-extra-controls">
                <div class="bd">

                    <div class="sm2-inline-element sm2-button-element">
                        <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
                    </div>

                    <div class="sm2-inline-element sm2-button-element">
                        <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
