<div class="horizontal_box">
    <div class="vid-item">
        <div class="thumb">
            <img src="~/Content/themes/base/images/Desert.jpg">
        </div>
        <div class="desc">
            Jessica Hernandez & the Deltas - Dead Brains
        </div>
    </div>

    <div class="vid-item">
        <div class="thumb">
            <img src="~/Content/themes/base/images/Chrysanthemum.jpg">
        </div>
        <div class="desc">
            Coldplay - The Scientist
        </div>
    </div>

    <div class="vid-item">
        <div class="thumb">
            <img src="~/Content/themes/base/images/Desert.jpg">
        </div>
        <div class="desc">
            SomethingElse - Something
        </div>
    </div>

    <div class="vid-item">
        <div class="thumb">
            <img src="~/Content/themes/base/images/Chrysanthemum.jpg">
        </div>
        <div class="desc">
            La Roux - In For the Kill
        </div>
    </div>

    <div class="vid-item">
        <div class="thumb">
            <img src="~/Content/themes/base/images/Desert.jpg">
        </div>
        <div class="desc">
            La Roux - Quicksand
        </div>
    </div>


@*    <div class="arrows">
        <div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
        <div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
    </div>*@
</div>
