@model List<OnlinePlayerSample.Models.TrackViewModel>

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Helpers/HorizontalPlaylistTracksHelper.js")"></script>
}

<div class="horizontal_box">

    @foreach (var track in Model)
    {
        <div class="vid-item">
            <div class="thumb">
                <img src="@track.ImageUrl">
            </div>
            <div class="desc">
                @track.TrackName
            </div>
        </div>
    }

    @*    <div class="arrows">
        <div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
        <div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
    </div>*@
</div>
